@using Store.Models
@model AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.ConcreteMark)
    <br />
    <input type="submit" value="Get coutries Qty" />
}
<br />
<hr />

@if (Model != null)
{
    <p>Countries quantity - @Html.DisplayFor(m => m.Quantity)</p>
}
