@using Store.Models
@model AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.ConcreteMark)
    <br />
    <input type="submit" value="Get coutries Qty" />
}

@if (Model != null)
{
    @Html.DisplayFor(m => m.Quantity)
}
